.loader {
  text-align: center;
  align-items: center;
  min-height: 600;

  & > svg {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 25px));
    width: 40px;
    fill: var(--primary-color);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
